@import "tailwindcss";

/* Remove default body styles */
body {
  background-color: #1d1d1d;
  color: #fff;
  min-height: 100vh;

  /* Firefox scrollbar */
  scrollbar-color: #4b5563 transparent; /* thumb | track */
  scrollbar-width: thin;
}

/* WebKit browsers */
body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent; /* no track background */
}

body::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
  border-radius: 4px;
  border: 1px solid transparent; /* optional: avoids edge artifacts */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gray-500 on hover */
}
